[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "site-lisp/etags"]
	path = site-lisp/etags
	url = https://github.com/redguardtoo/counsel-etags.git
[submodule "site-lisp/org-roam-ui"]
	path = site-lisp/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui
[submodule "site-lisp/ox-rst"]
	path = site-lisp/ox-rst
	url = https://github.com/msnoigrs/ox-rst
[submodule "site-lisp/emacs-rime"]
	path = site-lisp/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "site-lisp/company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper
[submodule "site-lisp/emms"]
	path = site-lisp/emms
	url = https://git.savannah.gnu.org/git/emms.git
[submodule "site-lisp/mpvi"]
	path = site-lisp/mpvi
	url = https://github.com/lorniu/mpvi.git
